.type-4 .title-header {
  float: left;
  list-style-type: none;
  margin-top: 30px;
}
.type-4 .title-header a {
  color: #758991;
  font-size: 16px;
}
.type-4 .free h1 {
  font-size: 30px;
  color: #758991;
  margin-top: 30px;
}
.type-4 .logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
  margin-top: 10px;
}
.type-4 .ruler {
  margin-top: 10px;
  border: 1px solid #ddd;
}
.type-4 .ruler1 {
  border: 1px solid #ddd;
}
.type-4 .mega-dropdown {
  position: static !important;
}
.type-4 .mega-dropdown-menu {
  padding: 20px 0px;
  width: 98%;
  box-shadow: none;
}
.type-4 .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.type-4 .mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.type-4 .mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.type-4 .mega-dropdown-menu > li ul > li > a:hover,
.type-4 .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.type-4 .mega-dropdown-menu .dropdown-header {
  font-size: 20px;
  color: #000000;
}
.type-4 .tagcloud01 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.type-4 .tagcloud01 ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.type-4 .tagcloud01 ul li a {
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #ffffff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  transition: .2s;
}
.type-4 .tagcloud01 ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}
.type-4 .navbar-inverse {
  background-color: #fff;
  border-color: #fff;
  margin-bottom: 0px;
}
.type-4 .navbar-inverse .navbar-nav > .open > a:hover {
  color: #9e0a0a;
  background-color: #fff;
}
.type-4 .navbar-inverse .navbar-nav > li > a {
  color: #758991;
  font-family: 'Lato';
  font-size: 16px;
}
.type-4 .navbar-inverse .navbar-toggle {
  border-color: #758991;
  background-color: #758991;
}
.type-4 .navbar-inverse .navbar-nav > .open > a {
  color: #9e0a0a;
  background-color: #fff;
}
.type-4 .nav > li > a {
  padding-left: 38px;
}
.type-4 .js-navbar-collapse {
  margin: 0;
}
.type-4 .dropdown {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: -10px;
}
.type-4 .dropdown-toggle {
  font-size: 16px;
  text-transform: uppercase;
}
.type-4 .dropdown-toggle i {
  font-size: 16px;
  text-transform: uppercase;
  color: #758991;
}
.type-4 .dropdown-menu {
  display: none;
}
